.header {
    width: 100%;
    height: 15gi0px;
    padding: 0 5%;
    background-color: rgb(68, 179, 223);
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.hd{
    position: fixed;
    position: top;
}

.headerNav {
    width: 60%;
}
.header nav ul li{
    list-style-type: none;
    display: inline-block;
    margin-right: 30px;
    font-size: 30px;
    top: 0px;
}

.headerNav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.headerNav ul li:hover {
    font-weight: bold;
    list-style-type: none;
    display: inline-block;
    margin-right: 25px;
    font-size: 30px;

    position: sticky;
    top: 0px;
}
.gridContainer{
    display: grid;
    grid-template-columns: 500px 550px 500px;
    column-gap: 5px;
    justify-content: center;
    
}
.gridItem{
    background-color: aquamarine;
    border: solid 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 30px;

}
@media (max-width: 480px){
    .gridItem{
        display: none;
    }
}
.gridContainerk{
    column-gap: 1px;
    display: grid;
    grid-template-columns: 250px 250px 250px 250px 250px 250px 250px 250px;
    
    justify-content: center;


}
.gridItemk {
    border: solid 1px black;
    background-position:center;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 125px;
    text-align: center;
}
@media (max-width: 480px) {
    .gridItemk{
        display: none;
    }

}
.gridContainers {
    display: grid;
    grid-template-columns: 100px;
    column-gap: 15px;
    justify-content: center;
    background-color: cornflowerblue;

}
.gridItems {
    border: solid 2px black;
    background-color: rgba(115, 192, 223, 0.815);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
@media (max-width: 480px) {
    .gridItems{
        display: none;
    }
}
.gridItemd {
    display: grid;
    grid-template-columns: 100px;
    column-gap: 15px;
    justify-content: center;
    background-color: rgba(115, 192, 223, 0.815);
    height: 100px;
    font-size: 40px;
    font-weight: bolder;
    align-items: center;
    display: flex;
    border: solid 2px black;
  


}
.gridContainer {
    margin-block-end: 50px;
}

h1{
    color: rgb(0, 38, 255);
    font-size: 40px;
}
h2{
    color: darkslategrey;
    font-size: 25px;
}
.subtitulo{
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-size: 30px;
    margin: 50px 25px 30px 25px;
    padding: 10px;
    border: 200px;
}
section p {
    color: rgb(42, 48, 45);
    font-weight: bold;
    font-size: 25px;
    line-height: 1.5;
    margin: 50px 25px 30px 25px;
    padding: 10px;
    border: 200px;
}
footer{
    color: rgb(0, 37, 58);
    font-weight: 500;
    background-image: url(descarga.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    margin: 50px 25px 30px 25px;
    padding: 10px;
    border: 200px;
    
}




.registro{
    font-size: 30px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    background-color: antiquewhite;
    
    
}
#servicios{
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    margin: 50px 25px 30px 25px;
    padding: 10px;
    border: 200px;
}
#tabla{
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    margin: 50px 25px 30px 25px;
    padding: 10px;
    border: 200px;
}
a {
    color: black;
    text-decoration: none;
}
img{
    margin: 50px;
}
.contactofondo{
    background-color: rgb(70, 80, 90);
    color: rgb(107, 107, 107);
    font-weight: bolder;
    font-size: 35px;
    margin: 50px;
    color: rgb(152, 185, 201);
    
}
#contactoo{
    font-size: 40px;
    color: rgb(255, 255, 255);
}
#pie{
    background-color: rgb(68, 179, 223);
}
